<div class="footer row text-center text-white align-items-center px-5 py-2">
    <div class="col text-start px-5">
        <i class="bi bi-box-arrow-up-right mx-2"></i> <a href="">Contacto Ciudadano</a><br>
        <i class="bi bi-box-arrow-up-right mx-2"></i> <a href="">Portal Trámites Ciudadanos</a><br>
        <i class="bi bi-box-arrow-up-right mx-2"></i> <a href="">Sistema Nacional de Información</a>
    </div>
    <div class="col text-start px-5">
        <i class="bi bi-translate mx-2"></i><a href="">Idioma: Español</a><br>
        <i class="bi bi-chat-fill mx-2"></i><a href="">Comentarios y Ayuda</a><br>
        <i class="bi bi-keyboard-fill mx-2"></i><a href="">Atajos de teclado</a><br>
    </div>
    <div class="col text-start px-5 row align-items-center">
        <div class="col-auto p-0">
            <i class="bi bi-geo-alt-fill" style="display: inline-block;"></i>
        </div>
        <div class="col">
            <nav style="display: inline-block;">
                Av. Quitumbe Ñan y Av. Amaru Ñan Plataforma Gubernamental de Desarrollo Social.
                Código Postal: 170702. Quito - Ecuador
            </nav> 
        </div>
        <div class="row">
            <div class="col-auto p-0">
                <i class="bi bi-telephone-fill col-auto"></i>
            </div>
            <div class="col">
                <nav>Teléfono: +593-2 381-4400</nav>
            </div>
        </div>
    </div>
</div>