<div class="footer container-fluid row text-center text-white align-items-center m-0">                          
    <div class="col-lg text-start px-5 py-4">
        <div class="my-2">
            <i class="bi bi-box-arrow-up-right mx-2"></i> <a href="">Contacto Ciudadano</a><br>
        </div>
        <div class="my-2">
            <i class="bi bi-box-arrow-up-right mx-2 my-5"></i> <a href="">Portal Trámites Ciudadanos</a><br>

        </div>
        <div class="my-2">
            <i class="bi bi-box-arrow-up-right mx-2"></i> <a href="">Sistema Nacional de Información</a>

        </div>
    </div>
    <div class="col-lg text-start px-5 py-4">
        <div class="my-2">
            <i class="bi bi-translate mx-2"></i><a href="">Idioma: Español</a><br>

        </div>
        <div class="my-2">
            <i class="bi bi-chat-fill mx-2"></i><a href="">Comentarios y Ayuda</a><br>
        </div>
        <div class="my-2">
            <i class="bi bi-keyboard-fill mx-2"></i><a href="">Atajos de teclado</a><br>

        </div>
    </div>
    <div class="col-lg text-start px-5 align-items-center py-4">
        <div class="row my-3">
            <div class="col-auto p-0">
                <i class="bi bi-geo-alt-fill" style="display: inline-block;"></i>
            </div>
            <div class="col">
                <nav tabindex="0" style="display: inline-block;">
                    Av. Quitumbe Ñan y Av. Amaru Ñan Plataforma Gubernamental de Desarrollo Social.
                    Código Postal: 170702. Quito - Ecuador
                </nav> 
            </div>
        </div>
        <div class="row my-3">
            <div class="col-auto p-0">
                <i class="bi bi-telephone-fill col-auto"></i>
            </div>
            <div class="col">
                <nav tabindex="0">Teléfono: +593-2 381-4400</nav>
            </div>
        </div>
    </div>
</div>