<nav class="navbar navbar-expand-lg navbar-dark py-0">
    <div class="container-fluid">
        <a class="navbar-brand mx-5" href="/inicio"><img src="assets/img/logo.png" height="35 px" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav my-2 me-auto my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link py-3 text-white" [ngClass]="{'active': url==='/inicio'}" aria-current="page" routerLink="/inicio" >Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-3 text-white" href="#">Ministerio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-3 text-white"  href="#">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-3 text-white"  href="#">Biblioteca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-3 text-white" [ngClass]="{'active': url==='/noticias'}" routerLink="/noticias" >Noticias</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle py-3 text-white" [ngClass]="{'active': url==='/contacto'}"  href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Gobierno
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/contacto" >Contacto</a></li>
                        <li><a class="dropdown-item" href="#">Biblioteca</a></li>
                        <li><a class="dropdown-item" href="#">Programas</a></li>
                        <li><a class="dropdown-item" href="#">Transparencia</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex col-12 col-lg-5">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                    <input class="form-control form-control-sm me-2" type="search"
                        placeholder="Proyectos, noticias, servicios" aria-label="Search">
                        
                </div>
                <button class="btn btn-light" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>