<div class="row py-5">
    <div class="col rounded border border-secondary row p-4">
        <h3 class="text-center">Contacto</h3>
        <div class="col-6 p-5">
            <label for="">Nombre</label>
            <input class="form-control" type="text" placeholder="David Morales"><br>
            <label for="">Correo electrónico</label>
            <input class="form-control" type="email" placeholder="davi@email.com"><br>
            <label for="">Mensaje</label>
            <textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="Deseo conocer la ubicación..."></textarea>
            <div class="text-center p-4">
                <button class="btn col-4 btn-primary text-center mx-auto">Enviar</button>

            </div>
            <div class="rounded border border-secondary p-3">
                <h5 class="text-center">Teléfonos de contacto</h5>
                <p><i class="fa-solid fa-phone"></i> Teléfono: +593-2 381-4400</p>
                <p><i class="fa-brands fa-whatsapp"></i> Whatsapp: +593-2 381-4400</p>
            </div>
        </div>
        <div class="col-6 p-5">
            <iframe class="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15959.061505852182!2d-78.54811861033475!3d-0.2951681093912442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d598a03c4cf391%3A0xef6dfdef50c9f923!2sPlataforma%20Gubernamental%20Sur%20de%20Desarrollo%20Social!5e0!3m2!1ses!2sec!4v1660272473478!5m2!1ses!2sec" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="text-center p-4">
                <button class="btn btn-primary">Centro de Salud</button>
                <button class="btn btn-primary">Coordinaciones Zonales</button>
                <button class="btn btn-primary">Dirección Nacional</button>
            </div>
            <div class="rounded border border-secondary p-3">
                <h5 class="text-center">Correo electrónico</h5>
                <p><i class="fa-solid fa-envelope"></i> info@salud.gob.ec</p>
                <p><i class="fa-solid fa-envelope"></i> contacto@salud.gob.ec</p>
            </div>
        </div>
        <h5 class="text-center">Redes Sociales Oficiales</h5>
        <div class="row justify-content-center text-center">
            <div class="col-auto"><i class="fa-brands fa-facebook"></i> Facebook</div>
            <div class="col-auto"><i class="fa-brands fa-twitter"></i> Twitter</div>
            <div class="col-auto"><i class="fa-brands fa-instagram"></i> Instagram</div>
            <div class="col-auto"><i class="fa-brands fa-youtube"></i> Youtube</div>
            <div class="col-auto"><i class="fa-brands fa-tiktok"></i> TikTok</div>
        </div>
    </div>
</div>
